/* --------- BASIC CSS FOR GRID --------- */

  html, body {
    box-sizing: border-box;
    background-color: black;
    height: 100%;
    padding: 10px;
    margin: 0px;
  }

 .container > div {
    display: flex;
    padding: 10px;
  }
  
  /* --------- MY CSS FOR GRID --------- */
 
.container {
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "b b b b b b b b b a a a"
        "c c c c c c c c c c c c";
}

.header {
    grid-area: b;
}

.content {
    grid-area: c;
    grid-auto-flow: dense;
}

.aside {
    grid-area: a;
}

#add-animal,
button {
    flex: 1 1 auto;
    margin: 5px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.7s;
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to right, #84fab0 0%, #39b6f5 51%, #84fab0 100%);
}

.animals-btn:hover {
    background-position: right center;
} 

.gif {
    padding: 20px;
}
